    .first-headings{ margin-left: 20px;
        font-family: 'Libre Baskerville', serif;
        font-size: 50px;
        width: 500px;
        
    }
    #second-headings{
        color:tomato;
    }
    #line{
        margin: 60px;
        width: 4px;
        height: 160px;
        background-color:brown;
    }
     p{
         display: inline;
         width: 100px;
         font-size: 18px;
         
     }
     .paragraph{
         margin-left: 60px;
         font-size: 2px;
         color: rgba(0, 0, 0, 0.788);
         width: 40%;
         font-weight:lighter;
         font-family: 'Libre Baskerville', serif;
         padding-bottom: 40px;
         text-align: justify;
     }
     .first-image{
         width: 65%;
         padding-right: 100px;
        
         
         
     }
     .first-image img{
        width: 70%;
       
     }
     
     
     .first-section{
         display: flex;
     }

     .button{
         margin-left: 60px;
         
         text-decoration: none; 
         padding: 10px 35px ;
         border-radius: 10px;
         background-color:rgb(128, 37, 37);
         color: white;
         text-align: center;
         font-family: cursive;
             
     }
     .third-headings{
         font-size: 40px;
         text-align: center;
         color: rgb(76, 0, 255);

     }
     .my-mission{
         
         margin-left: 5%;
         padding: 10px 10px 10px 10px;
         margin-right: 5%;
         width: 350px;
         height: 300px;
         
         
         
        border-radius: 30px;
         
     }
     #box-image {
       
        
        width: 120px;
        height: 120px;
      
     }
     .box{
         display: flex;
     }
     #box-paragraph{
         
        font-family: 'Libre Baskerville', serif;
         color: rgba(0, 0, 0, 0.788);

     }
     #box-headings{
         font-weight: bold;
         font-family:Verdana, Geneva, Tahoma, sans-serif;
     }
     #vission-shadow{
         background-color: rgba(240, 230, 140, 0.315);
     
     }
     #goals-shadow{
         background-color: rgba(165, 28, 28, 0.205);
        
        }
        #develop-h{
           margin-top: 20px;
           margin-left: 60px;
           font-size: 30px;
        
        }
        .coding-image{
            width: 100%;
            padding-left: 50px;
            margin-left: 20px;
            margin-right: 250px;
        
        }
        .coding-image img{
            margin-left: 100px;
            width: 80%;
        }
        #third-section{
            display: flex;
            margin-top: 100px;
           
           
            
        }
      .project-image{
          margin-top: 30px;
          width: 100%;
          padding-right: 200px;
          
          
      }
      .project-image img{
          width: 100%;     
          
      }
      .global-possition{
          margin-left: 50%;
      }
      .button-2{
        margin-left: 60px;
        
        text-decoration: none; 
        padding: 10px 50px ;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.616);
        color: white;
        text-align: center;
        font-family: cursive;
      }
      .footer{
          margin-top: 20px;
          background-color: black;
          color: white;
          text-align: center;
          font-family: sans-serif;
         
          height: 100px;
          width: 100%;
      }
      .footer h1{
      font-family: cursive;
    }

      #year{
          color: red;
          
      }
      .global-position{
          margin-left: 100px;
      }
    
      .search-div{

        margin-top: 100px;
        margin-bottom: 100px;
        background-color: rgba(255, 0, 0, 0.438);
        background-repeat: no-repeat;
      }
    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }
    .search-h2{
        color: rgb(1, 15, 1);
        text-align: center;
        font-size: 30px;
    
    }
    #here{
        color: rgb(255, 0, 221);
    }

    #search-p{
        font-family: 'Libre Baskerville', serif;
       
    }



      

     